body { 
  color: white; /* Define a cor da fonte */
  background-color: black; /* Define a cor de fundo da página */
  margin: 100px; /* Define a margem externa para todos os lados */
  font-family: "Chakra Petch", sans-serif; /* Define a fonte dos textos */
  margin-bottom: 1000px; /* Define a margem externa inferior */
  margin-top: 10px; /* Define a margem externa superior */
}

.chamada {
  background: rgb(184, 146, 213); /* Cor de fundo da seção com a classe chamada */
  padding-bottom: 80px; /* Espaço interno na parte inferior */
  padding-top: 80px; /* Espaço interno na parte superior */
  display: flex; /* Ativa o modelo de layout flexível */
  justify-content: center; /* Alinha horizontalmente os itens ao centro */
}

.chamada-texto {
  margin-right: 5%; /* Margem à direita do conteúdo */
}

h1 {
  font-size: 40px; /* Tamanho da fonte para títulos h1 */
}

p {
  font-size: 20px; /* Tamanho da fonte para parágrafos */
}
.categoria-videos {
  display: flex; /* Define que os vídeos serão exibidos em linha (horizontalmente) */
  overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se o conteúdo ultrapassar a largura */
  gap: 10px; /* Espaçamento entre os vídeos */
}

.categoria {
  padding-left: 20px; /* Espaçamento interno à esquerda */
  padding-right: 20px; /* Espaçamento interno à direita */
  margin-top: 50px; /* Espaçamento externo acima da seção */
}

.categoria-videos img {
  opacity: 0.5; /* Define a transparência das imagens (50%) */
  border: 3px solid green; /* Define uma borda verde de 3px ao redor das imagens */
}

.categoria h2 {
  color: rgb(42, 122, 228); /* Define a cor do texto dos títulos h2 */
}
